.UserInformation-InfoGrid>* {
    display: grid;
    grid-template-columns: 6em auto;
}

.UserInformation-bold {
    font-weight: bold;
}

.UserInformation-hr {
    border: 1px solid var(--BackgroudTertiary);
    margin: 15px 0;
}

.UserInformation-ActBtnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.UserInformation-ActBtn {
    background-color: var(--YellowColor);
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    width: 140px;
}