{% extends "emails/base.html" %}

{% block title %}
Temporarily blocked from changing credentials
{% endblock %}

{% block extra_styles %}
<style type="text/css">
    .p_block {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .team_name {
        color: #7e7e7e;
    }
</style>
{% endblock %}

{% block content %}
<p>Dear {{ user_name }},</p>

<div class="p_block">
    <p>We detected multiple failed attempts to change your account email or password.</p>

    <p>To help protect your account, credential changes have been temporarily blocked. </p>
</div>

<div class="p_block">
    <p><b>Number of failed attempts: {{ failed_attempts }} </b></p>

    <p>Your account will be blocked for the following period:</p>
    <p>5 failed attempts: 15 minutes.</p>
    <p>6-7 failed attempts: 30 minutes.</p>
    <p>8-9 failed attempts: 60 minutes.</p>
    <p>10+ failed attempts: 6 hours.</p>
</div>

<div class="p_block">
    <p>If this was you, you can try again after the block period ends.</p>

    <p>If you did not make these attempts, we strongly recommend that you:</p>
    <ul>
        <li>Log in and change your password</li>
        <li>Review your account activity</li>
    </ul>
</div>


<div class="p_block">
    <p class="team_name"><b>---The SafeDev Team</b></p>
</div>

{% endblock %}