/* Import this file after fonts.css */

/* This file contains global elements css */

:root {
    --BackgroudPrimary: #0d1618;
    --BackgroudSecondary: #111c1e;
    --BackgroudTertiary: #152325;
    --BackgroundDisabled: #384d4f;
    --BackgroundInput: #162427;
    --FontColorInput: #F0F0F0;
    --FontColorPrimary: #EBEBEB;
    --FontColorSecondary: #B3B3B3;
    --FontColorDarker: #3d515c;
    --FontColorDarkerFilter: invert(24%) sepia(40%) saturate(326%) hue-rotate(157deg) brightness(102%) contrast(85%);
    --FontColorDark: #0d1618;
    --BlueColour: #4B83E3;
    --Greycolour: #e4e7ed;
    --DarkerGreyColour: #bcbfc7;
    --DarkGreyColour: #999ca4;
    --MiddleBlueColour: #376073;
    --YellowColor: #DB9A02;
    --RedColor: #aa0000;

    font-family: 'Inter Tight', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: var(--BackgroudPrimary);
    color: var(--FontColorPrimary);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.4;
}

body.light-mode {
    background-color: var(--Greycolour);
    color: var(--BackgroudPrimary)
}

#root {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#root>* {
    padding: 5px 20px;
}

#root>div {
    flex-grow: 1;
}

h2 {
    font-size: 1.7em;
    margin: 10px 0;
}

h3 {
    font-size: 1.4em;
    margin: 10px 0;
}

h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0;
    color: var(--FontColorSecondary);
}

.light-mode h2,
.light-mode h3,
.light-mode h4 {
    color: var(--FontColorDarker);
}

p,
label,
button,
select,
input,
textarea {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

.light-mode p {
    color: var(--FontColorDark);
}

a {
    color: var(--BlueColour)
}

i {
    font-family: 'Inter Tight', sans-serif;
    font-style: italic;
}

b {
    font-weight: bold;
}

button {
    font-weight: 600;
    padding: 7px 25px;
    background-color: var(--BlueColour);
    border: none;
    border-radius: 7px;
    box-shadow: #13202389 0px 7px 29px 0px;
    color: var(--FontColorDark);
    cursor: pointer;
}

@media (hover: hover) {
    button:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

button:disabled {
    background-color: var(--BackgroundDisabled);
    border: 2px solid var(--BackgroudSecondary);
    color: var(--BackgroudPrimary);
    box-shadow: none;
}

input,
select,
textarea {
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: var(--BackgroundInput);
    color: var(--FontColorInput);
}

.light-mode input,
.light-mode select,
.light-mode textarea {
    background-color: var(--DarkerGreyColour);
    color: var(--FontColorDark);
}