{% extends "emails/base.html" %}

{% block title %}
Successfully disabled MFA
{% endblock %}

{% block extra_styles %}
<style type="text/css">
    .p_block {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .team_name {
        color: #7e7e7e;
    }
</style>
{% endblock %}

{% block content %}
<p>Dear {{ user_name }},</p>

<div class="p_block">
    <p>Your have disabled multi-factor authentication (MFA) in your account.</p>
</div>

<div class="p_block">
    <p>It is recommended that users enable MFA to increase their account's security.</p>
    <p>You can re-enable it in account settings.</p>
</div>

<div class="p_block">
    <p>If you did not request this change, please contact support.</p>
</div>

<div class="p_block">
    <p class="team_name"><b>---The SafeDev Team</b></p>
</div>
{% endblock %}