.ModalUserAction-BtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.ModalUserAction-BtnContainer>* {
    max-width: 10em;
}

.ModalUserAction-ActionBtn {
    background-color: var(--YellowColor);
}

@media (min-width: 600px) {

    .ModalUserAction-displayTable {
        max-width: 20em;
    }

    .ModalUserAction-Select {
        width: 120px;
    }
}