.LogIn {
    display: flex;
    flex-direction: column;
}

.LogIn>h2 {
    margin-bottom: 25px;
}

.LogIn-errorHints>* {
    color: var(--FontColorSecondary);
}

.LogIn-errorHints>p {
    margin: 5px 0;
}

.LogIn-errorHints>p>b {
    font-weight: bold;
}