.ModalAccountDetailChange-BtnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ModalAccountDetailChange-BtnContainer>* {
    width: 9em;
}

.ModalAccountDetailChange-ActionBtn {
    background-color: var(--YellowColor);
}

@media screen and (min-width: 600px) {
    .ModalAccountDetailChange-BtnContainer {
        width: auto;
        display: block;
    }

    .ModalAccountDetailChange-ActionBtn {
        margin-right: 20px;
    }
}