/* Image source: https: //pixabay.com/illustrations/hacker-technology-tech-computer-7192873/ */
.Home-Section1 {
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-image: linear-gradient(270deg, rgba(13, 22, 24, 0) 0%, rgba(13, 22, 24, 0.7712563052564776) 78%, rgba(13, 22, 24, 1) 87%), radial-gradient(circle, rgba(13, 22, 24, 0.42111624923406865) 0%, rgba(13, 22, 24, 0.8440854369091386) 87%, rgba(13, 22, 24, 1) 96%), url("../../assets/images/image_hacker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.light-mode .Home-Section1 {
    background-image: linear-gradient(270deg, rgba(228, 231, 237, 0) 0%, rgba(228, 231, 237, 0.7712563052564776) 78%, rgba(228, 231, 237, 1) 87%), radial-gradient(circle, rgba(228, 231, 237, 0.42111624923406865) 0%, rgba(228, 231, 237, 0.8440854369091386) 87%, rgba(228, 231, 237, 1) 96%), url("../../assets/images/image_hacker_inverted.jpg");
}

/* Light Mode on*/

@media (min-width: 1000px) {
    .Home-Section1 {
        background-image: linear-gradient(270deg, rgba(13, 22, 24, 0) 32%, rgba(13, 22, 24, 0.6900238122592788) 59%, rgba(13, 22, 24, 1) 74%, rgba(13, 22, 24, 1) 100%), radial-gradient(circle, rgba(13, 22, 24, 0.42111624923406865) 0%, rgba(13, 22, 24, 0.8440854369091386) 87%, rgba(13, 22, 24, 1) 96%), url("../../assets/images/image_hacker.jpg");
        background-size: contain;
        background-position-x: right;
    }

    /* Light Mode on*/
    .light-mode .Home-Section1 {
        background-image: linear-gradient(270deg, rgba(228, 231, 237, 0) 32%, rgba(228,
                    231, 237, 0.69) 59%, rgb(228, 231, 237) 74%, rgb(228, 231, 237) 100%),
            radial-gradient(circle, rgba(228, 237, 255, 0.421) 0%, rgba(228, 231, 237, 0.844) 87%, rgb(228, 231, 237) 96%),
            url("../../assets/images/image_hacker_inverted.jpg");
    }
}

.Home-Section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home-Section1-text>h1 {
    font-size: 3em;
}

.Home-Section1-text>p {
    font-size: 1.5em;
}

.Home-Section1-text>p>span {
    color: var(--FontColorDarker);
}


.Home-Section1-triangleStyle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 30%;
    background-image:
        linear-gradient(to bottom right, transparent 50%, var(--BackgroudPrimary) 0);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right, left;
}

.light-mode .Home-Section1-triangleStyle {
    background-image:
        linear-gradient(to bottom right, transparent 50%, var(--Greycolour) 0);
}