.AdminDashboard>h3 {
    margin-top: 0;
    border-left: 2px solid var(--BlueColour);
    border-image: linear-gradient(180deg, var(--BlueColour), #4b83e3b9, var(--BackgroudPrimary)) 2;
    padding: 10px 0 10px 7px;
    color: var(--FontColorSecondary);
}

.light-mode .AdminDashboard>h3 {
    border-image: linear-gradient(180deg, var(--BlueColour), #4b83e3b9, var(--Greycolour)) 2;
}

.AdminDashboard>section {
    margin: 0 0 20px 0;
}

/* Section: Analytics */

.AdminDashboard-Analytics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.AdminDashboard-Analytics>div {
    width: 7em;
    border-radius: 10px;
    background-color: var(--BackgroudTertiary);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.light-mode .AdminDashboard-Analytics>div {
    background-color: var(--Greycolour);
    border: 1px solid var(--DarkerGreyColour);
}

.AdminDashboard-Analytics>div p:first-child {
    font-weight: bold;
    font-size: 1.8em;
    color: var(--FontColorPrimary);
}

.light-mode .AdminDashboard-Analytics>div p:first-child {
    color: var(--FontColorDark);
}

.AdminDashboard-Analytics>div p:not(:first-child) {
    font-size: 0.8em;
    color: var(--FontColorSecondary);
}

.light-mode .AdminDashboard-Analytics>div p:not(:first-child) {
    color: var(--FontColorDarker);
}

/* Section: Attention */

.AdminDashboard-Alerts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AdminDashboard-Alerts>div {
    display: grid;
    grid-template-columns: 5px 2.2em 1fr 90px;
    row-gap: 5px;
    grid-row-gap: 5px;
    column-gap: 5px;
    grid-column-gap: 5px;
    padding: 0 7px 0 0;
    border-radius: 5px;
    background-color: var(--BackgroudTertiary);
}

.light-mode .AdminDashboard-Alerts>div {
    background-color: var(--Greycolour);
    border: 1px solid var(--DarkerGreyColour);
}

.AdminDashboard-Alerts>div>* {
    align-self: center;
}

/* colour left of div */
.AdminDashboard-Alerts>div>div:first-child {
    width: 5px;
    height: 100%;
    border-radius: 3px 0 0 3px;
}

/* button container */
.AdminDashboard-Alerts>div>div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Icons */
.AdminDashboard-IconContainer {
    width: 2em;
    height: 2.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminDashboard-IconContainer>img {
    width: 70%;
}


/* colour left of div */
.AdminDashboard-BgBlue {
    background-color: var(--BlueColour);
}

.AdminDashboard-BgYellow {
    background-color: var(--YellowColor);
}

.AdminDashboard-BgRed {
    background-color: var(--RedColor);
}

.AdminDashboard-BgDarkBlue {
    background-color: var(--MiddleBlueColour);
}


/* button */

.AdminDashboard-Alerts button {
    height: 2.2em;
    padding: 5px 15px;
    font-size: 0.9em !important;
    margin: 5px 0;
}

.AdminDashboard-BtnDark {
    background-color: var(--MiddleBlueColour);
}

.AdminDashboard-Alerts button>* {
    font-size: 1em !important;
    font-weight: normal !important;
}

@media only screen and (min-width: 900px) {
    .AdminDashboard-Analytics {
        justify-content: flex-start;
    }

    .AdminDashboard-Alerts {
        /* 
        calc: nr of section Analytics's divs* their size 
        + nr of gaps between them * size of gap
        + nr of divs * 2 * padding left/right

        I made the calc explicit (rather than a simple "28em + 150px") to make it obvious and so that if another div is included in section Analytics, just update the nrs 4, 3, and 4 to +1.
        */
        max-width: calc(4*7em + 3*10px + 4*2*15px);
        justify-content: flex-start;
    }
}