.ModalUserAction-BtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.ModalUserAction-Bold {
    font-weight: bold;
}

.ModalUserAction-BtnContainer>* {
    width: 10em;
}

.ModalUserAction-ActionBtn {
    background-color: var(--YellowColor);
}