/* Shared classes that are used by multiple files in this application */
/* This file should be imported under styles/global.css */

/* Useful links: */
/* Convert hex to CSS filter:  https://codepen.io/sosuke/pen/Pjoqqp  */
/* Color-contrast analyzer: https: //color.adobe.com/create/color-contrast-analyzer  */

/* **********************************************************
*                                                           *
*                   SHARED CLASSES                          *
*                                                           *
*   Classes that can be used in any component for styling   *
*                                                           *
********************************************************** */

.MAIN-display-none {
    display: none;
}

.MAIN-DeleteBtn {
    background-color: var(--RedColor);
    color: var(--FontColorPrimary);
}

/* P-tag classes 
    - MAIN-error-message: used in p-tag. Messages have been wrapped in i-tags as well. ==> DELETE after all components use the error component
    - MAIN-information-text: used in p-tags. Text is darker as meant to be used as a 'ps' at bottom os page. =>Consider deletion
    => Usage example: SignUp component
*/
.MAIN-error-message {
    font-size: 0.9em;
    color: var(--YellowColor);
}

.MAIN-info-paragraph {
    color: var(--FontColorSecondary);
    margin: 15px 0;
}

.MAIN-yellow-paragraph {
    color: var(--YellowColor) !important;
}

/* Form-tag classes
    - MAIN-form: used in form-tags. For it to work, the form parent must have the following attributes: {
        display: flex; flex-direction: column;}, and form elements such as label and tags must be wrapped in a div with MAIN-form-display-table class. Error messages do not have to be placed in divs, and can be p tags bellow the div.
        Also recommended: "form parent">h2 {margin-bottom: 25px;} to style the component's page title
    - MAIN-form-display-table: using in divs which contain label&input tag pairs and are children of 
        .MAIN-form
    => Usage example: SignUp component
*/

.MAIN-form {
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.MAIN-form>* {
    margin-bottom: 15px;
    align-self: start;
}

.MAIN-form>button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.MAIN-form-star {
    /* Used on the star denoting a required field, example: ==>DELETE after all components use the star component
    <span className="MAIN-form-star">*</span>
     */

    color: var(--FontColorDarker);
}

.MAIN-form-display-table {
    display: grid;
    /* grid-template-columns => adapt in component's own css as needed */
    grid-template-columns: 2fr 3fr;
    grid-gap: 10px;
}

.MAIN-form-display-table>input {
    /* Include padding in total width */
    box-sizing: border-box;
    width: 100%;
}

.MAIN-form-display-table>label {
    align-self: center
}

/* @media (min-width: 600px) {
    .MAIN-form-display-table {
        grid-template-columns => adapt in component's own css as needed
        grid-template-columns: 200px 300px;
    }
} */

/* Table-tag classes
    - MAIN-table: used in table-tags. 
    - MAIN-table-label: used in label tags inside td-tags. a lable tag should be placed inside td tags with the column's title in them. This will be used in mobile versions. See example in Admin>UsersTable>UsersTableRow component
    => Usage example: Admin > UsersTable > UsersTable component
    => Don't forget to adjust grid-template-columns in the component's own css to properly size the columns according to the number of table columns. div
*/

.MAIN-table {
    margin-top: 20px !important;
    border-collapse: collapse;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 2px var(--FontColorDarker);
}

.MAIN-table>thead>tr>th,
.MAIN-table>tbody>tr>td {
    padding: 5px;
}

.MAIN-table>tbody>tr:nth-of-type(even) {
    background-color: var(--BackgroudSecondary);
}

.light-mode .MAIN-table>tbody>tr:nth-of-type(even) {
    background-color: var(--DarkerGreyColour);
}

@media (hover: hover) {
    .MAIN-table>tbody>tr:hover {
        background-color: var(--BackgroudTertiary);
    }

    .light-mode .MAIN-table>tbody>tr:hover {
        background-color: var(--DarkGreyColour);
    }
}

/* TABLE ON MOBILE/SMALL DEVICES ONLY */

.MAIN-table,
.MAIN-table>thead,
.MAIN-table>tbody,
.MAIN-table>thead>tr,
.MAIN-table>thead>tr>th,
.MAIN-table>tbody>tr>td {
    display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
.MAIN-table>thead>tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.MAIN-table>tbody {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.MAIN-table>tbody>tr {
    margin: 5px;
    border: 3px solid var(--BackgroudTertiary);
    border-radius: 5px;
}

.MAIN-table>tbody>tr>td {
    /* Make behave  like a "row" */
    border-bottom: 2px solid var(--BackgroudTertiary);
    position: relative;
    display: grid;
    /* grid-template-columns => adapt in component's own css as needed */
    grid-template-columns: 6em auto
}

.MAIN-table-label {
    font-weight: bold;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--FontColorSecondary);
}

/* TABLE ON BIG SCREENS */
@media only screen and (min-width:600px) {

    .MAIN-table,
    .MAIN-table>thead,
    .MAIN-table>tbody,
    .MAIN-table>thead>tr,
    .MAIN-table>thead>tr>th,
    .MAIN-table>tbody>tr,
    .MAIN-table>tbody>tr>td {
        margin: 0;
        padding: 0;
        border: none;
        display: revert;
        position: revert;
    }

    .MAIN-table,
    .MAIN-table>thead,
    .MAIN-table>tbody {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .MAIN-table>thead>tr,
    .MAIN-table>tbody>tr {
        padding: 5px;
        display: grid;
        /* grid-template-columns => adapt in component's own css as needed */
        grid-template-columns: auto repeat(4, 10em);
        justify-items: stretch;
        align-items: center;
        gap: 0 5px;
        border-bottom: 2px solid var(--FontColorDarker);
        border-radius: 0;
    }

    .MAIN-table>thead>tr {
        background-color: var(--BackgroundInput);
    }

    .light-mode .MAIN-table>thead>tr {
        background-color: var(--DarkGreyColour);
    }

    .MAIN-table>thead>tr>th {
        text-align: start;
        font-weight: bold;
    }

    .MAIN-table-label {
        display: none;
    }
}

/* HONEYPOT FIELDS */
.MAIN-NO-HUN {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

/* ICON DISPLAY */
/* Classes for icon containers which should display the icon in the middle of a circle
    Example: admin users table icons with flag, blocked status and user type
 */
.MAIN-iconContainerCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: var(--FontColorSecondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MAIN-iconContainerCircle>img {
    height: 15px;
}

/* MAIN-iconUserBlocked is a class to be used on the img icon_user_status_blocked.svg when it is a child of MAIN-iconContainerCircle*/
.MAIN-iconContainerCircle>.MAIN-iconUserBlocked {
    margin-left: -1px;
    height: 17px !important;
}

/* MAIN-iconUserType is a class to be used on the img icon_user_type_admin.svg and icon_user_type_user.svg when it is a child of MAIN-iconContainerCircle*/
.MAIN-iconContainerCircle>.MAIN-iconUserType {
    margin-left: 10%;
    margin-top: -10%;
    height: 19px !important;
}

/* Sub-menu (navigation inside user and admin protected pages) 
To create a new sub-menu in the admin or user protected areas, navigate to pages/Account/AccountMain.jsx or pages/Admin/AdminArea.jsx respectivelly (where the bellow class is used in the nav element)*/
.MAIN-subNavigation>ul {
    display: flex;
    gap: 15px;
    box-shadow: 0 -3px 0 -1px var(--BlueColour) inset;
}

.MAIN-subNavigation>ul>li {
    border-radius: 5px 5px 0 0;
    border-top: 2px solid var(--BlueColour);
    border-left: 2px solid var(--BlueColour);
    border-right: 2px solid var(--BlueColour);
    text-decoration: none;
}

.MAIN-subNavigation>ul>li>a {
    font-weight: bold;
    display: block;
    padding: 3px 7px;
    text-decoration: none;
    color: var(--FontColorDarker);
}

.MAIN-subNavigation>ul>li>a.active {
    color: var(--BlueColour);
    border-radius: 5px 5px 0 0;
    background-color: var(--BackgroudPrimary);
}

.light-mode .MAIN-subNavigation>ul>li>a.active {
    background-color: var(--Greycolour);
}

/* Sub-menu (navigation inside user and admin protected pages) 
To create a new sub-menu, create a page element, then set the bellow class to it (expected to be a div). Example: see pages/Account/Dashboard/Dashboard.jsx
SubNav pages are expected to be a div, containing an h3 as the first child, and at least one section bellow it.*/
.MAIN-subNav-page>h3 {
    margin-top: 0;
    border-left: 2px solid var(--BlueColour);
    border-image: linear-gradient(180deg, var(--BlueColour), #4b83e3b9, var(--BackgroudPrimary)) 2;
    padding: 10px 0 10px 7px;
    color: var(--FontColorSecondary);
}

.light-mode .MAIN-subNav-page>h3 {
    border-image: linear-gradient(180deg, var(--BlueColour), #4b83e3b9, var(--Greycolour)) 2;
}

.MAIN-subNav-page>section {
    margin: 0 0 20px 0;
}