/* copy of adminArea.css */
.AccountMain>nav>ul {
    display: flex;
    gap: 15px;
    box-shadow: 0 -3px 0 -1px var(--BlueColour) inset;
}

.AccountMain>nav>ul>li {
    border-radius: 5px 5px 0 0;
    border-top: 2px solid var(--BlueColour);
    border-left: 2px solid var(--BlueColour);
    border-right: 2px solid var(--BlueColour);
    text-decoration: none;
}

.AccountMain>nav>ul>li>a {
    font-weight: bold;
    display: block;
    padding: 3px 7px;
    text-decoration: none;
    color: var(--FontColorDarker);
}

.AccountMain>nav>ul>li>a.active {
    color: var(--BlueColour);
    border-radius: 5px 5px 0 0;
    background-color: var(--BackgroudPrimary);
}

.light-mode .AccountMain>nav>ul>li>a.active {
    background-color: var(--Greycolour);
}