Footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 40px;
}

Footer>div,
Footer>ul {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

Footer>div>* {
    height: 20px;
}

Footer p {
    color: var(--FontColorDarker);
}

Footer a {
    display: block;
}

Footer img {
    height: 20px;
    filter: var(--FontColorDarkerFilter);
}

.Footer-Nav {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Footer-Nav>li>a {
    color: var(--BlueColour);
    text-decoration: none;
    cursor: pointer;
}

@media (hover: hover) {
    Footer img:hover {
        transform: scale(1.5) rotateZ(360deg);
    }

    .Footer-Nav>li>a:hover {
        font-weight: bold;
    }
}