.NavBar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.NavBar-logo {
    font-weight: bold;
    color: var(--BlueColour);
    font-size: 1.3em;
}

.NavBar-logo>span {
    font-weight: bolder;
    color: var(--FontColorDarker);
    letter-spacing: 0.2em;
}

.NavBar-menu-icon {
    display: block;
    cursor: pointer;
}

.NavBar-menu-icon-sgv {
    height: 20px;
    width: auto;
    transition: all 0.3s ease-in;
    filter: var(--FontColorDarkerFilter);
}

.NavBar-menu-icon-sgv.active {
    transform: rotate(90deg);
    transition: all 0.3s ease-in;
}

.NavBar-nav-elements {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: var(--BackgroudSecondary);
    width: 0px;
    height: calc(100vh - 80px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 100;
}

.light-mode .NavBar-nav-elements {
    background-color: var(--Greycolour);
}

.NavBar-nav-elements.active {
    width: 100%;
}

.NavBar-nav-elements ul {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Nav-modeIcon img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 3px;
    background-color: var(--FontColorSecondary);
    cursor: pointer;
}

.NavBar-nav-elements ul li {
    margin-top: 22px;
    list-style-type: none;
    text-align: center;
}

.NavBar-nav-elements ul li a {
    color: var(--FontColorPrimary);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.light-mode .NavBar-nav-elements ul li a {
    color: var(--FontColorDark);
}

.NavBar-nav-elements ul li a.active {
    color: var(--FontColorSecondary);
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 600px) {
    .NavBar-menu-icon {
        display: none;
    }

    .NavBar-nav-elements {
        width: min-content;
        position: initial;
        min-width: 50%;
        height: inherit;
        background-color: transparent;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }

    .NavBar-nav-elements ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;
        list-style-type: none;
        margin: 0;
        height: 100%;
    }

    .NavBar-nav-elements ul li {
        margin-top: 0;
    }

    .NavBar-logo {
        min-width: fit-content;
    }
}

@media (hover: hover) {
    .NavBar-nav-elements ul li a:hover {
        font-weight: bold;
    }

    .Nav-modeIcon img:hover {
        background-color: rgb(230, 230, 230);
    }
}