.UsersTable>h3 {
    margin-top: 0;
    border-left: 2px solid var(--BlueColour);
    border-image: linear-gradient(180deg, var(--BlueColour), #4b83e3b9, var(--BackgroudPrimary)) 2;
    padding: 10px 0 10px 7px;
    color: var(--FontColorSecondary);
}

.UserTable-IconsContainer {
    display: flex;
    justify-content: space-between;
}

.UserTable-icon {
    height: 30px;
    cursor: pointer;

}

@media (hover: hover) {
    .UserTable-icon:hover {
        filter: grayscale(70%) drop-shadow(0 0 0.2rem black);
    }
}

@media only screen and (min-width:600px) {

    .UsersTable-table>thead>tr,
    .UsersTable-table>tbody>tr {
        /* grid-template-columns: auto 20em repeat(3, 10em) !important; */
        grid-template-columns: 10em auto repeat(3, 10em) !important;
    }
}