.UsersTable>h3 {
    margin-top: 0;
    border-left: 2px solid var(--BlueColour);
    border-image: linear-gradient(180deg, var(--BlueColour), #4b83e3b9, var(--BackgroudPrimary)) 2;
    padding: 10px 0 10px 7px;
    color: var(--FontColorSecondary);
}

/* Hide table options & hide search btn container */

.UsersTable-btnFilters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* The bellow applies to filterUsersTable and SearchUser */

.UsersTableFilters-btn,
.UsersTableFilters-form>button {
    padding: 5px 10px;
    font-size: 0.9em !important;
}

.UsersTableFilters-btn {
    height: 2.2em;
    min-width: 12em;
    padding: 5px 10px;
    font-size: 0.9em !important;
}

.UsersTableFilters-btn-selected {
    background-color: var(--MiddleBlueColour);
    margin: 0 !important;
    border-bottom-left-radius: 0;
}

.UsersTableFilters-form {
    padding: 10px 0 5px 10px !important;
    border-left: 3px solid var(--FontColorDarker);
    padding-left: 5px;
    border-image: linear-gradient(180deg, var(--MiddleBlueColour), #1e292e, var(--BackgroudPrimary)) 2;
}

.UsersTableFilters-form>div {
    grid-template-columns: minmax(0.5em, 10em) minmax(0.5em, 15em);
}

.UsersTableFilters-form>button {
    min-width: 10em;
    height: 1.9em;
    margin: 5px 0 !important;
}

@media (max-width: 310px) {
    .UsersTableFilters-form>div {
        display: flex;
        flex-direction: column;
    }
}

/* P-tag saying no table to display */
.UsersTable-noTable {
    margin: 20px 0;
}