.UserMessageContainer {
    border: 2px solid var(--FontColorDarker);
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.UserMessageContainer>* {
    font-size: .9em;
}

.UserMessageContainer hr {
    border: 1px solid var(--BackgroundInput);
}

.UserMessageContainer-FontDarker {
    color: var(--FontColorSecondary);
}

.UserMessageContainer-FontYellow {
    color: var(--YellowColor);
    font-weight: bold;
}

.UserMessageContainer-flagContainer>* {
    transform: scale(1.3);
}

.UserMessageContainer-Sect1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
}

.UserMessageContainer-Sect2>p,
.UserMessageContainer-Sect3>p {
    padding: 7px 0;
}

.UserMessageContainer-Sect2>div,
.UserMessageContainer-Sect3>div {
    border-left: 3px solid var(--FontColorDarker);
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 5px;
    /* border-top-left-radius: 5px; */
}

.UserMessageContainer-Sender,
.UserMessageContainer-Answerer {
    font-size: .8em;
}

.UserMessageContainer-Sect3 {
    border-left: 4px solid var(--BackgroudTertiary);
    border-radius: 5px;
    padding: 0 0 7px 7px;
}

.UserMessageContainer-Answerer {
    padding: 0 !important;
}