.UsersLogs-bold {
    font-weight: bold;
}

.UsersLogs-noLogs {
    margin-top: 10px;
    color: var(--FontColorDarker);
}

/* BIG SCREEN */
@media only screen and (min-width:600px) {

    .UsersLogs-Table>thead>tr,
    .UsersLogs-Table>tbody>tr {
        grid-template-columns: repeat(3, 7em) auto;
    }
}