<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div>
        <div class="header">
            <p><b>SafeDev</b></p>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <p>Need help? <a href="mailto:support@safedev.com">Contact us</a>.</p>
            <p>Please do not reply to this email.</p>
            <p>© 2024 SafeDev</p>
        </div>
    </div>
</body>

</html>