{% extends "base.html" %}

{% block title %}
Change {{ auth_type }}
{% endblock %}

{% block content %}
<p>Dear {{ user_name }},</p>

<p>We received a request to change the {{ auth_type }} associated with your account. This
    link will expire in 1 hour, and no changes will be made if the change is not confirmed.</p>

<p>You can confirm the change by clicking the link bellow:</p>

<p class="button_parent">
    <a href="{{ btn_link }}" class="button">Confirm {{ auth_type }} change</a>
</p>

<p>If you did not request this, you can safely ignore this email. No changes will be made to your account.</p>

<p>You can see more information about this request in your account history.</p>

<p>Thank you,</p>

<p>---The SafeDev Team</p>
{% endblock %}